body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 700px;
    background-color: #EAEEF4;
    padding: 2em;
    height: 400px;
    display: grid;
    grid-template-areas: 
        "pro pro case"
        "Days min sec";
}

.pro{grid-area: pro;}

.case{grid-area: case;}

.Days{grid-area: Days;}

.min{grid-area: min;}

.sec{grid-area: sec;}