
/* body{
 
} */

.gallery > div {
    background: rgb(75, 111, 99);
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
} 

.gallery{
    height: 100vh;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr) repeat(2, auto);

    grid-template-columns: repeat(2, 1fr);
}

.gallery{
    /* grid-template-columns: inherit; */
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 400px;

    align-content: flex-start ;
}

